@model List<Provider>
@{
    ViewData["Title"] = "Proveedores";
}

<div class="container">
    <div class="d-flex justify-content-between mb-3">
        <h2>Proveedores</h2>
        <a id="add" class="btn btn-primary" asp-controller="Provider" asp-action="Add">Agregar</a>

        <!-- Yo del futuro, para los proximos cruds, COPIAR ESTA FUNCION (LINEA 12 A LA 13-->
        <a id="searchButton" class="btn btn-primary" asp-controller="Provider" asp-action="Search">Buscar</a>
        <input name="parametro" type="text" class="form-control" id="parametro" onchange="editSearch(this.value)">
        
        

    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo Persona</th>
                <th scope="col">Numero Identificacion</th>
                <th scope="col">Balance</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var element in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => element.Name)</td>
                    <td>@Html.DisplayFor(m => element.PersonType)</td>
                    <td>@Html.DisplayFor(m => element.PersonalId)</td>
                    <td>@Html.DisplayFor(m => element.Balance)</td>
                    <td>

                        @if (element.IsActive)
                        {
                            <span>Activo</span>
                        }
                        else
                        {
                            <span>Inactivo</span>
                        }
                    </td>
                    <td>
                        <a class="btn btn-success" id="edit" asp-controller="Provider" asp-action="EditView" asp-route-id="@element.Id">Editar</a>
                        <a class="btn btn-danger" id="delete" asp-controller="Provider" asp-action="Delete" asp-route-id="@element.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <!-- Yo del futuro, para los proximos cruds, COPIAR ESTA FUNCION (LINEA 57 A LA 61-->
    <script>
        function editSearch(value){
            document.getElementById("searchButton").href = "/Provider/" + value;
        }
    </script>
</div>
